html {
  font-family: 'Kalam', cursive;
  font-size: 30px;
}

[class^="scene"] {
  position: fixed;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  background-color: #b22aa6;
  z-index: 100;
}
#loading .loading-message {
  position: absolute;
  top: 45%;
  left: 35%;
  height: 15%;
  width: 25%;
  background-color: #fffae0;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
  box-sizing: border-box;
}

img {
  position: absolute;
  border-radius: 10px;
}

.text-bubble {
  position: absolute;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
}
.text-bubble.small {
  padding: 5px;
  font-size: 15px;
}

.scene1 {
  background-color: #ffe36f;
}
.scene1 img {
  width: 200px;
  left: 40%;
}
.scene1 .text-bubble {
  top: 20%;
  left: 60%;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
  }
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.scene2 {
  background-color: #30ccbd;
}
.scene2 img {
  width: 200px;
  left: 40%;
}

.scene3 {
  background-color: #b22aa6;
}
.scene3 .text-bubble {
  top: 50%;
  left: 35%;
}

.thank-you-bold {
  font-weight: bold;
  color: #33b2a6;
}

.scene4 {
  background-color: #ffe36f;
}

.scene5 {
  background-color: #33b2a6;
}
.scene5 img {
  left: 40%;
}

.scene6 {
  background-color: #b22aa6;
}

.scene7 {
  background-color: #ff55ef;
}

.scene8 {
  background-color: #30ccbd;
}
.scene8 img {
  max-width: 240px;
}

.scene9 {
  background-color: #b22aa6;
}

.scene10 {
  background-color: #ffe36f;
}
.scene10 img {
  max-width: 350px;
}

.love-you-bold {
  color: #ff55ef;
  font-weight: bold;
}

.scene11 {
  background-color: #ff55ef;
}
